---
skills:
  -
    _Python_, _javascript_, HTML, CSS, jQuery, _node.js_, Django, _Flask_, backbone.js, puppet, Gunicorn/uwsgi/nginx, ElasticSearch, _git_, Python Nose, Selenium Testing
  -
    Strong _Leadership_ abilities gained through experience in project management, and leading development on cross-functional product teams.
  -
    Exceptional _Teamwork_ by working on distributed teams with tough process requirements. See my [blog post](http://owencoutts.com/blog/2012/04/26/Code-Quality-and-Why-You-Care.html) on code quality and its impact on teams.


experiences:
  -
    employer: Pinterest
    website: http://pinterest.com
    title: Web Developer (Pintern)
    date: September-December 2012
    description:
      I developed systems to ship code as fast as possible. I created tools that cleanly deployed code without 500s or downtime. I build a continuous integration process that on every code change ran tests, deployed static assets to a CDN server and built localization files. I created an internal version of Pinterest.com that got updated on every stable build. I created methodologies and best practices for new feature integration. I oversaw the the technical aspect of  Secret Boards and buisness.pinterest.com launches. I helped move Pinterest to frequent, safer deploys.
  -
    employer: Mozilla
    website: http://mozilla.com
    title: Web Developer
    date: January-April 2012
    description:
      I worked on [Mozillians](http://www.mozillians.org/), a community platform for contributors. Mozillians is a site with technologies including django, backbone.js and ElasticSearch. I was responsible for tasks such as implementing a design refresh, implementing an API and working on feature requests from product owners. Check out what I worked on at my [github](https://github.com/mozilla/mozillians/commits/master?author=tallowen).
  -
    employer: Mozilla
    website: http://mozilla.com
    title: Quality Engineer
    date: May-August 2011
    description:
      I created a system to generate various types of large scale load for the [Mozilla Sync Servers](https://services.mozilla.com/). I wrote code that tore apart various systems and found scaling vulnerabilities. I used distributed [funkload](http://funkload.nuxeo.org/) applications to generate load and [MongoDB](http://www.mongodb.org/) to provide a data validation backend.
  -
    employer: Twitsprout
    website: http://twitsprout.com
    title: Web Developer (Contractor)
    date: March-April 2011
    description:
      Twitsprout is a social networking startup. I engineered their minimum viable product. I designed a user interface that allowed users to browse their Twitter and Facebook data in more useful ways.
  -
    employer: Top Hat Monocle
    website: http://tophatmonocle.com
    title: Evil Genius
    date: September-December 2010
    description:
      Top Hat is a 10-person startup that makes educational software. I implemented automated frontend testing in [Selenium](http://seleniumhq.org/) to help with release testing. I also implemented various backend features written in Django. Because of the nature of the startup, I was able to gain exposure in agile development and especially fast release cycles.
  -
    employer: Research in Motion
    website: http://rim.com
    title: Systems Integration Specialist
    date: January-May 2010
    description:
      I designed, developed and executed testing procedures for a new database system that allowed RIM to streamline BlackBerry production. I participated in multiple global database go-lives that critically impacted the production process. I led a team of individuals to complete testing and validate the new database system during go-live. I relied on my communication skills as well as leadership skills to get the job done.

sample_code:
  -
    title: Mozillians
    url: https://github.com/mozilla/mozillians/commits?author=tallowen
  -
    title: Social Share Plugin
    url: https://github.com/mozilla/SocialShare/commits?author=tallowen
  -
    title: Git Legit
    url: https://github.com/kennethreitz/legit/commits?author=tallowen
  -
    title: Django BrowserID
    url: https://github.com/mozilla/django-browserid/commits?author=tallowen
  -
    title: Django Sha2
    url: https://github.com/fwenzel/django-sha2/commits?author=tallowen

awards:
  -
    NSERC Research Grant
  -
    Waterloo Engineering Competition Winner


---
<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <!--This is generated code. Checkout the repository at github.com/tallowen/tallowen.github.com-->
  <title>Owen Coutts - Resume</title>
  <style type="text/css">
    {{ Inline CSS to upload to jobmine properly }}
    {% include resume_style.css %}
  </style>
  {% include analytics.html %}
</head>

<body>
  <div id="page">
    <div id="header">
      <div id="name">
        <p>OWEN<span class="bold">COUTTS</span></p>
      </div>
      <div id="contact-div">
        <ul id="contact">
          <li><span>Phone</span><strong>206 651 4004</strong></li>
          <li><span>Website</span><strong><a href="http://owencoutts.com">owencoutts.com</a></strong></li>
          <li><span>Email</span><strong><a href="mailto:owen@owencoutts.com">owen@owencoutts.com</a></strong></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="section">
        <h2>Skills</h2>
        <div class="item">
          <div class="description">
            <ul>
              {% for skill in page.skills %}
                <li>{{ skill|markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Experience</h2>
        {% for experience in page.experiences %}
          <div class="item">
            <h3><a href="{{ experience.website }}">{{ experience.employer }}</a></h3>
            <h4>{{ experience.title }}</h4>
            <div class="date">{{ experience.date }}</div>
            <div class="description">
              {{ experience.description|markdownify }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="section">
        <h2>Code Samples</h2>
        {% for sample in page.sample_code %}
          <div class="item">
            <h3>{{ sample.title }}</h3>
            <h4><a href="{{ sample.url }}">{{ sample.url }}</a></h4>
          </div>
        {% endfor %}
      </div>
      <div class="section">
        <h2>Education</h2>
        <div class="item">
          <h3>University of Waterloo</h3>
          <h4>3A Systems Design Engineering</h4>
          <div class="date">2009 - 2014 (expected)</div>
          <div class="description">
            <p>Honours Systems Design Engineering, Merit Scholar, NSERC Research Grant</p>
          </div>
        </div>
      </div>
      <div class="section">
        <h2>Awards</h2>
        <div class="item">
          <div class="description">
            <ul>
              {% for award in page.awards %}
                <li>{{ award|markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Owen Coutts | owen@owencoutts.com</p>
    </div>
  </div>
</body>
</html>
