<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Owen Coutts | Welcome</title>
<script type="text/javascript"></script>
    <style type="text/css" media="all">
        @import "media/css/fresh.css";
    	@import "media/css/projects.css";
    </style>
</head>

<body>

<div id= "page">

    <div id= "leftside">
        <div id="slogme">            
                <div id="name"> 
                    OWEN<span class="bold">COUTTS</span> 
                </div>
                <div id="subtext">
                 Walking in the clouds... 
                </div>
        </div>

        <div id= "linkList">            
            <a href='/'><h2>Welcome</h2></a>
	        <h2 class="selected">Projects</h2>
            <a href = "/about"><h2>About Me</h2></a>            
            <a href = "/resume"><h2>Resume</h2></a>
        </div>
    </div>

    <div id = "rightside">  
            <div id="header-pic"/></div>
            <div id="content">
            
	    <h5>Building an arduino robot</h5>
	    <p>
	      I have been playing with an arduino lately. Right now I have a a little robot that rolls around nicely. I'm working on figuring out how to connect it to my android phone right now. </p>
	    <div id="arduino"></div>
            <p>This is the belly of the beast. Two continious rotational servos drive the chasis while the white rollers allow it to turn.</p>
	    <h5>Putting up a website</h5>
	    <p>
	       My most recent project has been this website. Although I worked on a webapp for four months while I worked at <a href="http://tophatmonocle.com">Top Hat Monocle </a> I didn't really have a good appreciation for how many different layers go into a website.
            </p>
            <p>
		Here are some of the things I realised I needed to learn:
		<ul>
		   <li>Where do I host a website? Most of the stuff I had done before involved a static IP and LAMP box. First I needed to find a hosting service that uses mod_python. I also learned how much I would miss my "sudo" command.</li>
		   <li>How do you CSS and HTML? I'd done some basic stuff but mostly where all the CSS was in place and the HTML was somewhat generated already. I had to learn to do it from scratch. My first design was my <a href="resume">resume</a> and my second was this website.</li>
		   <li>I just got hacked... My buddy saw my a temporary website and found a way into the django admin console. I had django-cms running which allowed him to change the page as he saw fit. Next time I'll watch my debug settings more carefully.</li>
		</ul>
	    </p>
	    </div>
        </div>

    <div id="footer">
        <h3> Owen Coutts| <a href="mailto:owen@owencoutts.com">owen@owencoutts.com</a></h3>
</div>

</body>
</html>
