<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>{% if page.section != "home" %}Owen Coutts | {{page.section}}{% else %}Owen Coutts{% endif %}</title>

  <link rel="stylesheet" href="/media/css/fresh.css" type="text/css" />
  <link rel="stylesheet" href="/media/css/projects.css" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20531725-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
  <div id="page">
    <div id="leftside">
      <div id="slogme">
        <div id="name">
          OWEN<span class="bold">COUTTS</span>
        </div>

        <div id="subtext">
          Walking in the clouds...
        </div>
      </div>

      <div id="linkList">
        <h2 {% if page.section == "Home" %}class="selected"{% endif %}><a href ="/">Welcome</a></h2>
        <h2 {% if page.section == "Blog" %}class="selected"{% endif %}><a href="/blog/">Blog</a></h2>
        <h2 {% if page.section == "About Me" %}class="selected"{% endif %}><a href="/about">About Me</a></h2>
        <h2><a href="/resume">Resume</a></h2>
      </div>
    </div>

    <div id="rightside">
      <div id="header-pic"></div>
      <div id="content">{{content}}</div>
    </div>

    <div id="footer">
	  <h3>Owen Coutts | {{site.email}}</h3>
    </div>
  </div>
</body>
</html>
