<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{% if page.section != "home" %}Owen Coutts | {{page.section}}{% else %}Owen Coutts{% endif %}</title>

  <link rel="stylesheet" href="/media/css/fresh.css" type="text/css">
  <link rel="stylesheet" href="/media/css/projects.css" type="text/css" media="screen">
  {% include analytics.html %}
</head>

<body>
  <span style="display:none;">아이러브커피</span>
  <div id="page">
    <div id="leftside">
      <div id="slogme">
        <div id="name">
          OWEN<span class="bold">COUTTS</span>
        </div>

        <div id="subtext">
          Walking in the clouds...
        </div>
      </div>

      <div id="linkList">
        <h2 {% if page.section == "Home" %}class="selected"{% endif %}><a href ="/">Welcome</a></h2>
        <h2 {% if page.section == "Blog" %}class="selected"{% endif %}><a href="/blog/">Blog</a></h2>
        <h2 {% if page.section == "About Me" %}class="selected"{% endif %}><a href="/about">About Me</a></h2>
        <h2><a href="/resume">Resume</a></h2>
      </div>
    </div>

    <div id="rightside">
      <div id="header-pic"></div>
      <div id="content">{{content}}</div>
    </div>

    <div id="footer">
	  <h3>Owen Coutts | {{site.email}}</h3>
    </div>
  </div>
</body>
</html>
